:root{
    --primary-color: rgb(238,75,43);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;

    --navbar-height: 36px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62,5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap; 
}

/* Animation */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/* Button */
.btn{
    min-width: 142px;
    height: 36px;
    border: none;
    margin:0  12px;
    color: var(--text-color);
    text-decoration: none;
    padding: 0;
    background-color: var(--white-color);
    cursor: pointer;
}


.btn.btn-primary{
    width: 160px;
    color: var(--white-color);
    background-color: var(--primary-color);
}
